In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [4]:
# 1
students=pd.read_csv('drive/MyDrive/Colab Notebooks/math_students.csv')
students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
# 2
students.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [ ]:
students.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
# 3

In [ ]:
students.size

13035

In [ ]:
# 4
students.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
# 5
students.isnull().values.any()

False

In [ ]:
# 6
students.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [ ]:
# 7
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
# 8
pd.unique(students.guardian.values)

array(['mother', 'father', 'other'], dtype=object)

In [ ]:
# 9
students[(students.guardian=='mother') & (students.Mjob=='at_home') | (students.Mjob=='teacher')]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8

In [5]:
# 10
df2 = students.assign(alc=[0]*395)
df2

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,0
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,0
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,0
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,0
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,0

In [6]:
df = students

In [ ]:
# 11
df2.size, df2.columns, len(df2)

(13430,
 Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
        'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
        'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
        'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
        'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'alc'],
       dtype='object'),
 395)

In [ ]:
# 12
df.reason.value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

In [ ]:
# 13
df[(df.Medu==0) & (df.Fedu==0)]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [ ]:
# 14
df.age[df.school=='MS'].min()

17

In [ ]:
# 15
df[df.absences%2!=0]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,2,4,3,1,1,5,7,15,16,15
40,GP,F,16,U,LE3,T,2,2,other,other,...,3,3,3,1,2,3,25,7,10,11
206,GP,F,16,U,GT3,A,3,1,services,other,...,2,3,3,2,2,4,5,7,7,7
211,GP,M,17,U,LE3,T,4,4,services,other,...,5,3,5,4,5,3,13,12,12,13
213,GP,M,18,U,GT3,T,2,2,services,other,...,4,4,4,2,4,5,15,6,7,8
217,GP,M,18,U,LE3,T,3,3,services,health,...,3,2,4,2,4,4,13,6,6,8
218,GP,F,17,U,GT3,T,2,3,at_home,other,...,3,3,3,1,4,3,3,7,7,8
260,GP,F,18,U,GT3,T,4,3,services,other,...,3,1,2,1,3,2,21,17,18,18
262,GP,M,18,R,GT3,T,3,2,other,other,...,5,3,2,1,1,3,1,13,12,12
265,GP,M,18,R,LE3,A,3,4,other,other,...,4,2,5,3,4,1,13,17,17,17
270,GP,F,19,U,GT3,T,3,3,other,services,...,4,3,5,3,3,5,15,9,9,9
276,GP,F,18,R,GT3,A,3,2,other,services,...,4,1,1,1,1,5,75,10,9,9
278,GP,F,18,U,GT3,T,4,4,health,health,...,2,4,4,1,1,4,15,9,8,8
281,GP,M,17,U,LE3,A,3,2,teacher,services,...,4,4,4,3,4,3,19,11,9,10
282,GP,F,18,R,LE3,T,1,1,at_home,other,...,5,2,2,1,1,3,1,12,12,12
286,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,4,3,3,1,2,2,5,18,18,19
289,GP,M,18,U,LE3,A,4,4,teacher,teacher,...,5,4,3,1,1,2,9,15,13,15
290,GP,M,18,U,GT3,T,4,2,teacher,other,...,4,3,2,1,4,5,11,12,11,11
299,GP,M,18,U,LE3,T,4,4,teacher,teacher,...,1,4,2,2,2,1,5,16,15,16
312,GP,M,19,U,GT3,T,1,2,other,services,...,4,5,2,2,2,4,3,13,11,11
317,GP,F,18,U,GT3,T,4,3,other,other,...,4,3,4,1,1,5,9,9,10,9
320,GP,F,17,U,GT3,A,4,3,services,services,...,5,2,2,1,2,5,23,13,13,13
322,GP,F,17,R,LE3,T,2,2,services,services,...,3,3,2,2,2,3,3,11,11,11
323,GP,F,17,U,GT3,T,3,1,services,services,...,3,4,3,2,3,5,1,12,14,15
325,GP,M,18,U,GT3,T,4,4,other,other,...,4,3,3,2,2,3,3,9,12,11
326,GP,M,17,U,GT3,T,3,3,other,services,...,4,3,5,3,5,5,3,14,15,16
328,GP,F,17,U,GT3,T,4,4,teacher,services,...,5,4,4,1,3,4,7,10,9,9
331,GP,F,17,R,GT3,T,2,4,at_home,other,...,4,4,3,1,1,5,7,12,14,14
338,GP,F,18,U,LE3,T,3,3,services,services,...,5,3,3,1,1,1,7,16,15,17
342,GP,M,18,U,LE3,T,3,4,services,other,...,4,3,3,1,3,5,11,16,15,15
345,GP,F,18,U,GT3,T,3,2,other,services,...,5,4,3,2,3,1,7,13,13,14
346,GP,M,18,R,GT3,T,4,3,teacher,services,...,5,3,2,1,2,4,9,16,15,16
352,MS,M,18,U,LE3,T,1,3,at_home,services,...,4,3,3,2,3,3,7,8,7,8
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
# 16
mean1 = df.G3[df.romantic=='yes'].mean()
mean2 = df.G3[df.romantic=='no'].mean()
round(abs(mean1 - mean2)*100)/100

1.26

In [7]:
# 17
df3 = df.copy()
df3['study_time_ratio'] = df3.studytime / (df.studytime+df.freetime)
df3.study_time_ratio

0      0.400000
1      0.400000
2      0.400000
3      0.600000
4      0.400000
         ...
390    0.285714
391    0.200000
392    0.166667
393    0.200000
394    0.333333
Name: study_time_ratio, Length: 395, dtype: float64

In [9]:
# 18
df.failures.mode()

0    0
Name: failures, dtype: int64

In [14]:
# 19
work = df[(df.Fjob!='at_home') & (df.Mjob!='at_home')]
len(work), work

(323,
     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
 3       GP   F   15       U     GT3       T     4     2    health  services
 4       GP   F   16       U     GT3       T     3     3     other     other
 5       GP   M   16       U     LE3       T     4     3  services     other
 6       GP   M   16       U     LE3       T     2     2     other     other
 7       GP   F   17       U     GT3       A     4     4     other   teacher
 ..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
 389     MS   F   18       U     GT3       T     1     1     other     other
 390     MS   M   20       U     LE3       A     2     2  services  services
 391     MS   M   17       U     LE3       T     3     1  services  services
 392     MS   M   21       R     GT3       T     1     1     other     other
 393     MS   M   18       R     LE3       T     3     2  services     other

      ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
 3    ...      3        2      2     1     1      5        2  15  14  15
 4    ...      4        3      2     1     2      5        4   6  10  10
 5    ...      5        4      2     1     2      5       10  15  15  15
 6    ...      4        4      4     1     1      3        0  12  12  11
 7    ...      4        1      4     1     1      1        6   6   5   6
 ..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
 389  ...      1        1      1     1     1      5        0   6   5   0
 390  ...      5        5      4     4     5      4       11   9   9   9
 391  ...      2        4      5     3     4      2        3  14  16  16
 392  ...      5        5      3     3     3      3        3  10   8   7
 393  ...      4        4      1     3     4      5        0  11  12  10

 [323 rows x 33 columns])

In [23]:
# 20
df.loc[df.age[(df.Fjob=='services') & (df.Mjob=='services')].idxmax()]

school              GP
sex                  M
age                 22
address              U
famsize            GT3
Pstatus              T
Medu                 3
Fedu                 1
Mjob          services
Fjob          services
reason           other
guardian        mother
traveltime           1
studytime            1
failures             3
schoolsup           no
famsup              no
paid                no
activities          no
nursery             no
higher              no
internet           yes
romantic           yes
famrel               5
freetime             4
goout                5
Dalc                 5
Walc                 5
health               1
absences            16
G1                   6
G2                   8
G3                   8
Name: 247, dtype: object

In [25]:
# 21
meanG1 = df.G1.mean()
x = df[df.G1 > meanG1]
meanG1,len(x), x

(10.90886075949367,
 202,
     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
 3       GP   F   15       U     GT3       T     4     2    health  services
 5       GP   M   16       U     LE3       T     4     3  services     other
 6       GP   M   16       U     LE3       T     2     2     other     other
 8       GP   M   15       U     LE3       A     3     2  services     other
 9       GP   M   15       U     GT3       T     3     4     other     other
 ..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
 378     MS   F   18       U     GT3       T     3     3     other     other
 380     MS   M   18       U     GT3       T     4     4   teacher   teacher
 382     MS   M   17       U     GT3       T     2     3     other  services
 391     MS   M   17       U     LE3       T     3     1  services  services
 393     MS   M   18       R     LE3       T     3     2  services     other

      ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
 3    ...      3        2      2     1     1      5        2  15  14  15
 5    ...      5        4      2     1     2      5       10  15  15  15
 6    ...      4        4      4     1     1      3        0  12  12  11
 8    ...      4        2      2     1     1      1        0  16  18  19
 9    ...      5        5      1     1     1      5        0  14  15  15
 ..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
 378  ...      4        1      3     1     2      1        0  15  15  15
 380  ...      3        2      4     1     4      2        4  15  14  14
 382  ...      4        4      3     1     1      3        2  11  11  10
 391  ...      2        4      5     3     4      2        3  14  16  16
 393  ...      4        4      1     3     4      5        0  11  12  10

 [202 rows x 33 columns])

In [28]:
# 22
abs(df[df.Medu==4].G3.mean()-df[df.Medu!=4].G3.mean())

2.017146657413834